.App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  background: blueviolet;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #fff;
}
button:hover {
  background: pink;
  color: #fff;
  box-shadow: 1px 1px 10px 1px rgb(185, 185, 185);
  transform: translate(0px, -2px);
}
